@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Yantramanav:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #eb4b1c;
    height: auto;   
}

main{
    background-color: black;
    color: white;
}

.inicio {
    background: url(img/portada4.jpg) no-repeat center;
    background-size: cover;
    height: 400px;  
}

.centrado{
    min-width: 1000px;
    max-width: 1200px;
    margin: 0 auto;
    width: 70%;
}

h1{
    width: 50%;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

h2{
    width: 100%;
    margin-top: 20px;
}

ol{
    list-style-position: inside;
    margin-left: 10px;
    margin-bottom: 10px;
}

#bio{
    width: 600px;
}

caption{
    font-size: 1.17em;
    text-align: left;
}
p,h2,h3,h4,caption{
    padding: 10px;  
    font-family: 'Patua One', cursive;  
}

p{
    font-family: 'Yantramanav', sans-serif;
}

li{
    font-family: 'Yantramanav', sans-serif;
}
img{
    height: 280px;
}

/* INICIO */
.inicio h1{
    font-size: 35px;
    padding: 10px;
}

.inicio p{
    font-size: 20px;  
    color: white;
    padding: 10px;
    justify-content: flex-start;
}
.centrado:nth-of-type(1)>div{
    float: right;
    width: 50%;
}

section:nth-of-type(2) h2, .disco h3{
    width: 100%;
}

section:nth-of-type(2) article, .disco article{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex: 1;
    margin-bottom: 30px;
    width: 100%;
}

section:nth-of-type(2)>div, .disco>div{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* AGENDA */

.agenda article {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    margin-right: 5px;
    box-sizing: border-box;
    padding: 10px;
}

.agenda article:last-child {
    margin-right: 0;
    width: 35%;
}

.agenda h3 {
    margin-top: 10px;
}

.agenda article > p{
    margin-top: 10px;
    margin-left: 45px;
}

.agenda > p {
    width: 80%;
}


/* HEADER */
header {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 35px;   
}

header img{
    height: 250px;
}

header a:nth-of-type(2) img{
    height: 75px;
}

/* TABLA */

th, td {
    width: 25%;
    text-align: center;
    vertical-align: top;
    border: 1px solid white;
    border-collapse: collapse;
 }

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    margin: 0 auto 50px auto;
    padding: 10px;
}

tr,td{
    padding: 5px;
}

/* FORMULARIO */
form {
    width: 100%; 
    margin-left: 20px;
    overflow: hidden;
}

form > div {
    display: flex;
    margin-bottom: 5px;
}

label{
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 70%;
}

label , input[type="text"] {
    margin-right: 20px;
}

input[type="submit"]{
    width: 30%;
    height: 30%;
    margin-left: 100px;
    float: right;
}

select{
    margin-bottom: 20px;
    width: 100%;
}

input:nth-of-type(2){
    width: 20%  ;
}

input[type="radio"],input[type="radio"]+label {
    width: auto;
    display: inline-block;
}

input[type="radio"]+label{
    margin-right: 20px;
}

fieldset{
    border:0;
}
section>div {
    padding: 20px;
}

/* MENÚ */
nav{
    background-color: black;    
}

nav ul {
    list-style-type: none;
    width: 70%;
    margin: 0 auto;  
    text-align: center;
    display: block;
}

nav ul li{
    display: inline-block;
    width: calc(70% / 3);  
}

nav ul li a, nav ul li a:link{
    text-decoration: none;
    color: white;
    display: block;  
    font-size: 18px;   
    text-align: center;
    padding: 12px;
    border-radius: 15px;
}

header + nav:nth-of-type(1) ul li a:hover{
    background-color: #4a3f35;
    color: white;
}

/* FOOTER */
footer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    background-color: #eb4b1c;  
    border:0px; 
}
footer nav{
    background-color: #eb4b1c; 
    
}

footer img{
    height: 40px;
    margin-left: 20px;
    text-align: center;
}

footer nav ul{
    list-style-type: none;
    color: black;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

footer nav ul li{
    display: inline-block;
    width: calc(100% / 4);
    margin: 0 auto;    
}

/* VER MÁS */
section p a {
    background-color: #eb4b1c;
    color: white;
    text-align: center;
    padding: 10px;
    border-color: black;
    text-decoration: none;
}

/* INTEGRANTES */
section:nth-of-type(4) article {
    display: inline-block;
    width: calc( (100% - 40px) / 4);
    vertical-align: top;
    margin-right: 5px;
    box-sizing: border-box;
    padding: 10px;
}

section:nth-of-type(4) article:last-child {
    margin-right: 0;
}

section:nth-of-type(4) h4 {
    margin-top: 10px;
}

section:nth-of-type(4) article > h4 , section:nth-of-type(3) article > p{
    margin-top: 10px;
    margin-left: 45px;
}

section:nth-of-type(4) article > p {
    width: 80%;
}